In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv("heart.csv")

In [4]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Split Data

In [10]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

# Modelling

## KNN

In [12]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 5)

knn.fit(X_train,y_train)

acc_knn_train = knn.score(X_train,y_train)
acc_knn_test  = knn.score(X_test,y_test)

## Decision Tree

In [13]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train,y_train)

acc_dt_train = dt.score(X_train,y_train)
acc_dt_test  = dt.score(X_test,y_test)

## Bandingkan

In [16]:
print("----- Akurasi KNN -----")
print("Akurasi Training Set : ", round(acc_knn_train,2))
print("Akurasi Test Set     : ", round(acc_knn_test,2))

print("\n----- Akurasi Decision Tree -----")
print("Akurasi Training Set : ", round(acc_dt_train,2))
print("Akurasi Test Set     : ", round(acc_dt_test,2))

----- Akurasi KNN -----
Akurasi Training Set :  0.77
Akurasi Test Set     :  0.6

----- Akurasi Decision Tree -----
Akurasi Training Set :  1.0
Akurasi Test Set     :  0.7

In [ ]:
from google.colab import drive
drive.mount('/content/drive')